@model SaminProject.Models.Service
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section PageHeader{
    <div class="page-header page-header-default">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-arrow-right6 position-left"></i> <span class="text-semibold">مدیریت اخبار</span> - داشبورد</h4>
            </div>
        </div>
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="/admin/index"><i class="icon-home2 position-left"></i> داشبورد</a></li>
                <li class="active">مدیریت اخبار</li>
            </ul>
        </div>


    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white" id="form_panel">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-user-plus position-left"></i>ثبت خدمت جدید<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>

                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse" class=""></a></li>
                    </ul>
                    <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                </div>
            </div>

            <div class="panel-body">

                @if (TempData["Success"] != null)
                {
                    <div class="col-md-12">
                        <div class="alert alert-success alert-styled-left alert-arrow-left alert-component">
                            @TempData["Success"]
                        </div>
                    </div>
                }

                @if (TempData["Error"] != null)
                {
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-styled-left alert-arrow-left alert-component">
                            @TempData["Error"]
                        </div>
                    </div>
                }

                @using (Html.BeginForm("Create", "Service", FormMethod.Post, new { id = "frm_Service", autocomplete = "off", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.ID)
                    @Html.HiddenFor(x => x.Base64Image)

                    <div class="form-horizontal">
                        <div class="row">

                            <div class="col-sm-8">
                                <fieldset>
                                    <legend><i class="icon-user mr-5"></i>خدمت</legend>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.Title, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @maxlength = 100 })
                                                @Html.ValidationMessageFor(x => x.Title)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.Status, new { @class = "control-label col-md-6" })
                                            <div class="col-md-6">
                                                <label class="tgl-checkbox">
                                                    @if (Model.Status)
                                                    {
                                                        <input type="hidden" name="Status" id="Status" value="true" />
                                                        <input name="StatusShow" class="tgl tgl-ios" id="StatusShow" type="checkbox" checked>
                                                    }
                                                    else
                                                    {
                                                        <input type="hidden" name="Status" id="Status" value="false" />
                                                        <input name="StatusShow" class="tgl tgl-ios" id="StatusShow" type="checkbox">
                                                    }
                                                    <label class="tgl tgl-btn" for="StatusShow"></label>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Icon, new { @class = "col-md-2 control-label required" })
                                            <div class="col-md-10">
                                                <input type="hidden" id="IconVal" value="@Model.Icon" />
                                                <select id="Icon" class="form-control select-icons" name="Icon">
                                                    <option value="apartment" data-icon="apartment"></option>
                                                    <option value="bug" data-icon="bug"></option>
                                                    <option value="rocket" data-icon="rocket"></option>
                                                    <option value="magic-wand" data-icon="magic-wand"></option>
                                                    <option value="lighter" data-icon="lighter"></option>
                                                    <option value="sun" data-icon="sun"></option>
                                                    <option value="lock" data-icon="lock"></option>
                                                    <option value="cog" data-icon="cog"></option>
                                                    <option value="trash" data-icon="trash"></option>
                                                    <option value="star" data-icon="star"></option>
                                                    <option value="flag" data-icon="flag"></option>
                                                    <option value="enter" data-icon="enter"></option>
                                                    <option value="license" data-icon="license"></option>
                                                    <option value="cart" data-icon="cart"></option>
                                                    <option value="diamond" data-icon="diamond"></option>
                                                    <option value="earth" data-icon="earth"></option>
                                                    <option value="sync" data-icon="sync"></option>
                                                    <option value="leaf" data-icon="leaf"></option>
                                                </select>
                                                @Html.ValidationMessageFor(model => model.Icon)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.ShowDashboard, new { @class = "control-label col-md-6" })
                                            <div class="col-md-6">
                                                <label class="tgl-checkbox">
                                                    @if (Model.ShowDashboard)
                                                    {
                                                        <input type="hidden" name="ShowDashboard" id="ShowDashboard" value="true" />
                                                        <input name="ShowDashboardFlag" class="tgl tgl-ios" id="ShowDashboardFlag" type="checkbox" checked>
                                                    }
                                                    else
                                                    {
                                                        <input type="hidden" name="ShowDashboard" id="ShowDashboard" value="false" />
                                                        <input name="ShowDashboardFlag" class="tgl tgl-ios" id="ShowDashboardFlag" type="checkbox">
                                                    }
                                                    <label class="tgl tgl-btn" for="ShowDashboardFlag"></label>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.Description, new { @class = "control-label col-md-1" })
                                            <div class="col-md-11">
                                                @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @maxlength = 250 })
                                                @Html.ValidationMessageFor(x => x.Description)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.Content, new { @class = "control-label" })
                                            @Html.TextBoxFor(x => x.Content, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Content)
                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                            <div class="col-sm-4">
                                <fieldset>
                                    <legend><i class="icon-image2 mr-5"></i>عکس خدمت</legend>
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <div class="kv-avatar">
                                            <div class="file-loading">
                                                <input id="avatar" name="ContentFile" type="file">
                                            </div>
                                        </div>
                                        <div class="kv-avatar-hint"><small>حداکثر حجم مجاز 200 کیلوبایت </small></div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="text-danger text-center" id="kv-error"></div>
                                </fieldset>
                            </div>

                            <div class="clearfix"></div>

                            <div class="text-center">
                                <button type="submit" id="submit" class="btn btn-primary">ثبت خدمت<i class="icon-add position-right"></i></button>
                                <a href="/Service/Index" class="btn btn-warning" id="btnCancle">بازگشت<i class="icon-undo position-right"></i></a>
                            </div>

                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assest/js/plugins/editors/summernote/summernote.min.js"></script>
    <script src="~/assest/js/plugins/editors/summernote/lang/summernote-fa-IR.js"></script>
    <script src="~/Scripts/Page/Service.js"></script>
}

